@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Stylish&display=swap");

.blobb {
	fill: url(#lavaGradient);
}

.glow {
	filter: url(#glowing);
}

.metasvg {
	position: fixed;
	height: 110vh;
	width: 110vw;
	top: -20px;
	left: -20px;
	overflow: hidden;
}

.metaballs {
	position: fixed;
	z-index: -1;

	overflow: hidden;
}

body {
	min-height: 100dvh;
	background-color: #d5ebec;
}

.header {
	background-color: #fef2e7;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	filter: drop-shadow(5px 5px 0 #5d1556);
	padding: 20px;
	padding-top: 25px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 5dvh;
	bottom: 100%;
	transform: translateY(-12%);
}

div.text-block {
	background-color: #fef2e7;
	max-width: 750px;
	width: 75dvw;
	filter: drop-shadow(5px 5px 0 #5d1556);
	border-radius: 15px;
	margin: 20px;
	padding: 20px;
}

div.centered {
	margin-left: auto;
	margin-right: auto;
	align-items: right;
}

div.centered-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.border-overlap {
	display: flex;
	margin-top: -10px;
	margin-bottom: -85px;
	transform: rotate(120deg);
	width: 150px;
}

section.wip,
section.about-us {
	margin-top: 5dvh;
}

img.loading-gif {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%) brightness(190%) contrast(75%);
}

.footer {
	background-color: #fef2e7;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	filter: drop-shadow(5px 5px 0 #5d1556);
	padding: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 5dvh;
	top: 100%;
	transform: translateY(6%);
}

.footer .social-icons li a {
	margin-right: 5px;
	background-color: #5b1554;
	border: 1px solid #5b1554;
	height: 35px;
	width: 35px;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 33px;
	padding-bottom: 0;
	position: relative;
	transition: 0.5s;
	margin-bottom: 0;
}

.footer .social-icons li a img + img {
	display: none;
}

.footer .social-icons li a:hover {
	background-color: #852678;
}

.footer .social-icons li a:hover::after {
	position: absolute;
	content: "";
	border: 1px solid #852678;
	right: -3px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	top: -4px;
}
.footer .social-icons li a:hover img {
	display: none;
}
.footer .social-icons li a:hover img + img {
	display: block;
}

.footer ul li a {
	color: #68657c;
}
.footer ul li a:hover {
	color: #061434;
}

.rounded-circle {
	border-radius: 50% !important;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
	align-items: center;
	display: flex;
	margin-bottom: 3px;
	margin-top:3px;
}

.footer-logo {
	width: 20dvw;
	max-width: 160px;
}
.social-media-section {
	margin-left:5px;
	margin-top:15px;
}

.team-icon {
	width:15dvw;
	max-width: 100px;
}

.team-title-a {
	margin-top:7px;
	margin-bottom:-5px;
}
.team-title-b {
	margin-top:0;
}

.highlight {
	color: white;
	background-color: #852678;
	border-radius: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

.header-link {
	color: white;
	background-color: #5b1554;
	border-radius: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

.stylish-regular {
	font-family: "Stylish", sans-serif;
	font-weight: 1000;
	font-style: normal;
	font-size: 64px;
}

.nunito-slogan {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 40px;
}
.nunito-header {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
}
.nunito-titles {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}
.nunito-semi-bold {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 25px;
}
.nunito-lighter {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}
.nunino-small {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 10px;
}

.subtle-link {
	text-decoration: none;
	color:#5d1556;
}

.closer {
	margin-top:-2px;
	margin-bottom: -12px;
}